html {
    font-family: "Roboto", sans-serif;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 42px;
}

header, .heroimage, footer {
    background-color: #1f2937;
    color: #e5e7eb;
}

header {
    flex: 0 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    padding-bottom: 100px;
    font-size: 24px;
    color: #f9faf8;
}

header p {
    font-weight: bolder;
}

header a {
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-between;
    padding: 16px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.heroimage {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 200px 80px;

}

.herotext, .heropic {
    flex-wrap: wrap;
    flex: 1;
}

.herotext button {
    border-radius: 12px;
    border: 0;
    width: 120px;
    height: 40px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
}

.heropic img {
    border-radius: 0;
    width: 500px;
    height: auto;
}

a {
    text-decoration: none;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #1f2937;
    padding: 0 300px 80px;
}

.information h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.infoimages {
    display: flex;
    justify-content: space-between;
}

.image {
    display: flex;
    flex: 0;
    flex-direction: column;
}

.image p {
    text-align: center;
}

img {
    border-radius: 12px;
    width: 180px;
    height: 180px;
}

.quotation {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-left: 280px;
    padding-right: 280px;
}

.quotation .quote {
    font-style: italic;
}

.quotation .citation {
    font-weight: bold;
    font-size: 24px;
}

.calltoaction {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}

.calltoaction button {
    background-color: #3882f6;
    border-radius: 12px;
    border: 6px;
    border-color: white;
    border-style: double;
    width: 120px;
    height: 40px;
    color: #f9faf8;
    font-size: 16px;
    font-weight: bold;
}

footer {
    text-align: center;
}
